.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.hero-text{
    text-align: center;
    justify-content: center;
    max-width:1000px;
    color: rgb(2, 2, 2);
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600 ;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px ;
    line-height:1.8 ;
    font-weight: 500;
    font-size: 18px;
}
.home{
    padding-left: center;
    text-align: center;
    justify-content: center;
    max-width:1000px;
    color: rgb(2, 2, 2);
}